<h1>"CelMe" privacy policy</h1>

<font color="blue">
    # Items of personal information to be collected and methods of collection, purposes of collection and methods of
    processing personal images.<br/>
</font><br/>
The Celme app requests your image from your camera or gallery to find images of celebrities that look alike.<br/><br/>
The CelMe app uses personal face images to find celebrities who look alike.<br/><br/>
Personal face images are not shared with third parties and are stored on a file server and deleted over time.<br/><br/>
<br/><br/><br/><br/>
If you have any difficulties or questions about this privacy statement, please contact us.<br/><br/>
<br/><br/>
Email: jessicalabs77777@gmail.com<br/>
</body>


