<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">

</script>

<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script>
    // Initialize Firebase

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
<script>

    var config = {
        apiKey: "AIzaSyBJ5grchLpTqAzod7NoAlf7YFwHdS2LIeU",
        authDomain: "rich-labs-app.firebaseapp.com",
        databaseURL: "https://rich-labs-app.firebaseio.com",
        projectId: "rich-labs-app",
        storageBucket: "rich-labs-app.appspot.com",
        messagingSenderId: "410276199004"
    };
    firebase.initializeApp(config);
    const dbRef = firebase.database().ref();
    const proverbsRef = dbRef.child('proverbs');
    let results = [];

    var myApp = angular.module('myApp', []);


    $(document).ready(function () {

        proverbsRef.once("value", snapShot => {

            snapShot.forEach((childSnapshot) => {
                var childData = childSnapshot.val();

                //console.log('contents--->', childData.contents);
                results.push({
                    contents: childData.contents,
                })
            })

            results.reverse();

            results.forEach((item) => {
                console.log('live--->', item.contents);
                $(".tbody").append("<tr><td>" + item.contents + "</td></tr>");
            })
        });


        /*   proverbsRef.on("child_added", snap => {
               var data = snap.val();
               //alert(data.contents);

               results.push({
                   contents: data.contents,
               })

               results.forEach((item) => {
                   console.log('live--->', item.contents);
                   $(".inner").append("<p>" + item.contents + "</p>");
               })
           });
   */

        $("#btnSubmit").click(function () {

            let contents = $('#contents').val();
            proverbsRef.push({
                name: '딸맹',
                contents: contents
            }, (error) => {
                if (error == null){
                    /*   setTimeout(() => {
                     location.href = './firebase_write';
                 }, 1500)*/
                }
            })
        });


    });
</script>

<!--<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>-->

<form>
    <!--<input type="text" name="name" id="name">
    <br/>
    <br/>-->
    <textarea cols="70" rows="4 " name="contents" id="contents"> </textarea>
    <br/>
    <button type="button" id="btnSubmit" class="btn btn-primary">저장</button>
</form>
<br/>
<table class="table table-dark table-striped" border="1" cellpadding="0" cellspacing="0" class="inner">
    <tbody class="tbody">

    </tbody>
</table>

</body>
</html>