<h1>
"CelMe"
</h1>
<br/>
<h3>
Personal face image<br/>
</h3>
The CelMe app uses personal face images to find celebrities who look alike.<br/>
<br/>
Personal face images are never shared with third parties and are stored on a file server and deleted over time.<br/>
<br/>
If you have any questions about this Privacy Policy, please contact us.<br/>
<br/>
Email: jessicalabs77777@gmail.com<br/>
</body>


