<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<h1>
    편의점가즈아!
</h1>
<script src="//www.youtubemp3script.com/api/youtubemp3script-v2.js"></script>

<!--<iframe sandbox="allow-scripts" class="embed-responsive-item" style="height:60px;border:0;overflow:hidden;"
        scrolling="no"
        src="https://break.tv/widget/button/?link=https://www.youtube.com/watch?v=Mgfe5tIwOj0&amp;color=DA4453&amp;text=fff"></iframe>-->
<!--<iframe sandbox="allow-scripts" class="embed-responsive-item" style="height:60px;border:0;overflow:hidden;"
        scrolling="no"
        src="https://www.convertmp3.io/widget/button/?video=https://www.youtube.com/watch?v={{id}}&amp;color=397818"></iframe>-->

<iframe sandbox="allow-scripts" class="embed-responsive-item" style="height:60px;border:0;overflow:hidden;"
        scrolling="no"
        src="https://www.convertmp3.io/widget/button/?video=https://www.youtube.com/watch?color=397818&v={{id}}"></iframe>