<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">

</script>

<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script>
    // Initialize Firebase

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>

<script>
    /*var firebase = require('firebase');
    var firestore = require('firebase/firestore')*/

    var config = {
        apiKey: "AIzaSyAZMDKdP3GqDkFu6nkC8hAdmhol8ZfXVgg",
        authDomain: "proverb-best.firebaseapp.com",
        databaseURL: "https://proverb-best.firebaseio.com",
        projectId: "proverb-best",
        storageBucket: "proverb-best.appspot.com",
        messagingSenderId: "31566108418"
    };
    firebase.initializeApp(config);


    $(document).on('click', '.btnDelete', function (e) {

        var id = $(this).attr('id');

        if (confirm('do you wanna delete, really?')) {
            firebase.firestore().collection('images').doc(id).delete().then(() => {

                location.href = './proverb_image_upload_form'

            }).catch((error) => {
                console.error("Error removing document: ", error);
            });
        } else {
            return false;
        }


    });

    $(document).ready(function () {


        firebase.firestore().collection("images").orderBy("date", "desc").onSnapshot((querySnapshot) => {
            const results = [];
            querySnapshot.forEach((doc) => {

                let firebaseDataOne = doc.data();
                /*console.log('name--->',documentData.name);
                console.log('name--->',doc.id);*/
                results.push({
                    key: doc.id,
                    image: firebaseDataOne.image,
                });
            });

            results.forEach((item) => {
                console.log('live--->', item.image);
                $(".tbody").append(
                        "<tr>" +
                        "<td><img src=" + item.image + " style='width:200px;height:200px'  /></td>" +
                        "<td><button  class=\"btnDelete btn btn-danger\" value='delete' id=" + item.key + ">delete</button></td>" +
                        "</tr>");


            })
        })

    });
</script>

<!--<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>-->
{{ upload_file_name }} upload complete!!
<br/>
<a href="{{ upload_file_name }}"> {{ upload_file_name }}</a>
<form action="./proverb_image_upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file1" id="file1">

    <br/>
    <button type="submit" id="btnSubmit" class="btn btn-primary">저장</button>
</form>
<br/>
<table class="table" border="1" cellpadding="0" cellspacing="0" class="inner">
    <tbody class="tbody">

    </tbody>
</table>


</body>
</html>