<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<h1>
    youtube_view!
</h1>
<iframe width="200" height="150" src="http://www.youtube.com/embed/0319ZgKMLzw?autoplay=1" allowfullscreen> </iframe>